$primary-color: hsl(0,0%,13%);
$secondary-color: hsl(0,0%,29%);
$ancillary-color: hsl(0,0%,45%);

$normal-weight: 400;
$heavy-weight: 700;


$active-color: #1976d2;
$hover-color: #999;
$error-color: #a94442;
$spacing: 1rem;
$gutter: 1.5rem;

.jsu-main {
  font-weight: $normal-weight;
  color: $primary-color;

  * {
    box-sizing: border-box;
    font-size: 1rem;
  }

  input:not([type="checkbox"]),
  textarea,
  select {
    // display: block;
    // font-weight: bold;
    // transition: border-color 0.25s ease-in-out;
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08 );
  }
}

.jsu-property {
  position: relative;
}

.jsu-type-array {

}

.jsu-type-boolean {

}

.jsu-type-integer {

}

.jsu-type-number {

}

.jsu-properties {
  width: fit-content;
}

.jsu-properties.jsu-format-column {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;

  > .jsu-property {
    margin-top: $gutter;
  }
}

.jsu-properties.jsu-format-row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  margin: 0 (-$gutter/2);

  > .jsu-property {
    margin: $gutter $gutter/2 0;
  }
}

.jsu-properties.jsu-format-grid {
  display: grid;
  grid-gap: $gutter;
  margin-top: $gutter;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.jsu-type-string {
}

input.jsu-type-string,
input.jsu-type-integer,
input.jsu-type-number,
select.jsu-type-string {
  // outline: none;
  margin-top: 9px;
  display: inline-block;
  width: 100%;
}

input.jsu-type-integer,
input.jsu-type-number {
  text-align: right;
}

.jsu-header {

}

.jsu-title {
  font-weight: bold;
  font-size: 1rem;

  &.jsu-optional {
    vertical-align: middle;
    margin-left: 1.2rem;

    &::after {
      content: " (optional)";
      color: $ancillary-color;
      font-size: 80%;
    }
  }
}

input[type="checkbox"].jsu-optional {
  margin: 0;
  vertical-align: top;
  position: absolute;
}

.jsu-feedback {
  position: relative;
  font-size: 1rem;
}

.jsu-feedback.has-error {
  &::before {
    content: '✖';
    position: absolute;
    color: $error-color;
    top: 0;
    left: -1rem;
  }

  &.jsu-type-integer,
  &.jsu-type-number {
    &::before {
      top: 12px;
      left: 6px;
    }
  }
}

select.has-error ~ .jsu-feedback.has-error::before {
  left: -1.7rem;
}

.jsu-errors {
  display: none;
  position: absolute;
  color: $error-color;
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-size: 0.75rem;
  background-color: #ddd;
  z-index: 1;
  margin-top: 1px;
  border: 1px solid $error-color;
//  top: 0;
  padding: 4px;

  &.has-error {
    > *::before {
      content: '✖';
      padding-right: 4px;
      white-space: nowrap;
    }
  }
}

.jsu-active > .jsu-errors.has-error {
  display: block;
}

.jsu-description {
  color: $ancillary-color;
  font-size: 0.8rem;
  white-space: normal;
  margin-top: 2px;
}

input, textarea, select {
  &.has-error {
    border-color: $error-color;

    &::after {
      content: '✖';
      color: $error-color;
      right: 0;
      top: 0;
      position: absolute;
    }
  }
}

.jsu-main {
  .removed {
    :not(.jsu-optional) {
      display: none;
    }
  }
}
